* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    width: 100vw;
    color: white;
    height: 100vh;
    opacity: 1;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    margin: 5px;
}
form {
    width: 250px;
    color: white;
}
.btn-success {
    width: 90px;
    border-radius: 20px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    transition: 1s;
    text-align: center;
    margin: 5px;
    transition: 1s;
}
.btn-success:hover {
    background: #218A39;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.05);
    transform: translate(0px, -3px) scale(1.05);
    transition: 1s;
}
#back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: -1;
    opacity: 0.07;
    background: url("background.png");
}
#dback {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: -1;
    opacity: 0.05;
    background: url("background.png");
}
#titlebar {
    height: 25px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-bottom-right-radius: 10px;
    -webkit-app-region: drag;
}
#titlebar h2 {
    font-size: 15px;
    margin-top: 2px;
    padding: 1px 10px;
}
label {
    width: 100%;
    text-align: center;
    margin-bottom: -2px;
}

.exit {
    cursor: pointer;
    color: white;
    position: fixed;
    top: 0.5vh;
    transform: rotate(0deg);
    z-index: 100 !important;
    right: 5px;
    transition: 1s;
}

.exit:hover {
    transform: rotate(180deg);
}

#container {
    width: 90vw;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.category {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}


form input {
    border-radius: 3px;
    margin-top: 10px;
    height: 40px;
    margin-right: 10px;  
    margin-bottom: 10px;
}

form input:focus {
    border-radius: 3px;
    outline: none;
}

.form-control {
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px !important;
    width: 80px !important;
}

.search {
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px !important;
    width: 300px !important;
}

.form-control:focus {
    border-radius: 3px;
    outline: none;
}

form i {
    margin: 10px;
    cursor: pointer;
    transform: scale(1.2);
}

#maplist {
    width: 100%;
}

.map {
    margin: 5px 13.5px;
    width: 47%;
    min-height: 145px;
    display: inline-block;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    z-index: -10;
    transition: 0.3s;
}

.status {
    font-weight: 500;
    z-index: 3;
    position: absolute;
    transform: translateY(-100px) translateX(5px);
    padding: 2px 10px;
    color: white;
    margin-left: 5px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
}

.name {
    font-size: 1.3em;
    color: white;
    position: absolute;
    transform: translateY(-59px) translateX(7px);
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    font-weight: 600;
}

.artist {
    font-size: 1.1em;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    font-weight: 500;
    color: white;
    position: absolute;
    transform: translateY(-31px) translateX(7px);
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

.map:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.map-header {
    display: block;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 105px;
}

.map-header img {
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 42.3vw;
    background: url(default-bg.png);
    height: 105px;
    opacity: 1;
}

.download {
    color: black;
    float: right; 
    margin: 10px 5px;
    margin-right: 10px;
}

.link {
    color: black;
    float: right; 
    margin: 10px 3px;
}

.ignore {
    color: black;
    float: right; 
    margin: 10px 5px;
}

.creator {
    color: black;
    float: left;
    margin: 10px;
}

body::-webkit-scrollbar {
    width: 0.6em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  outline: 1px solid slategrey;
}

.downloads::-webkit-scrollbar {
    width: 0.6em;
    border-radius: 10px;
}
 
.downloads::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
}
 
.downloads::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  outline: 1px solid white;
}

#notifications {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 10px;
    font-size: 14px;
    z-index: 9999;
    right: 10px;
}

.notif-success {
    background: rgb(48, 194, 82);
}

.notif-error {
    background: red;
}

.notif {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    text-align: center;
    margin: 5px 0px;
    opacity: 0;
    height: 40px;
    box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    z-index: 999;
    transition: 1s;
}

.notif-started {
    background:rgb(46, 32, 170);
}

h2 {
    color: white !important;
    text-align: center;
}

.tray {
    cursor: pointer;
    color: white;
    position: fixed;
    top: 0.5vh;
    z-index: 100 !important;
    transform: rotate(0deg);
    right: 25px;
    transition: 1s;
}

.tray:hover {
    transform: rotate(180deg);
}

.settings {
    cursor: pointer;
    color: white;
    position: fixed;
    top: 0.5vh;
    z-index: 100 !important;
    right: 45px;
    transform: scale(0.8) rotate(0deg);
    transition: 1s;
}

.settings:hover {
    transform: scale(0.8) rotate(180deg);
}

.downloads {
    height: 83vh;
    overflow: hidden;
    width: 40vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 7vh;
    z-index: 9999;
    left: -38vw;
    transition: 0.4s ease-in-out;
}

.downloads:hover {
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.85);
}

.downloads>h2 {
    text-align: center;
    margin-top: 10px;
}

.open {
    left: 0 !important;
}

.dlprogress-name {
    color: white;
    margin: 2px 10px;
    padding-right: 50px;
    margin-bottom: 0px;
    text-align: left;
    transform: translateY(20px);
}

.dlprogress-percent {
    color: white;
    transform: translateX(-25px);
    text-align: right;
}

.dlprogress-bar {
    width: 0%;
    height: 5px;
    background-color: rgb(51, 212, 89) !important;
    transition: 1s;
}

@font-face {
    font-family: FontAwesomeExtra;
    src: url("extra.ttf") format("truetype");
}

[class*=" fa-extra-"],[class^="fa-extra-"] {
    font-family: FontAwesomeExtra;
}

.fa-extra-mode-osu:before {
    content: "\E800"
}

.fa-extra-mode-fruits:before {
    content: "\E801"
}

.fa-extra-mode-mania:before {
    content: "\E802"
}

.fa-extra-mode-taiko:before {
    content: "\E803"
}

.diff {
    margin-right: 2.5px;
    margin-top: 13.5px;
}

.diff2 {
    margin-right: 5px;
    margin-top: 10.5px;
}

#alldiff {
    max-width: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.play {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    color: white;
    position: absolute;
    transform: translateY(-95px) translateX(370px);
    opacity: 0;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    transition: 0.5s;
    cursor: pointer;
}

.playing {
    opacity: 1 !important;
}

.play:hover {
    transform: translateY(-95px) translateX(370px) scale(1.05);
    transition: 1s;
    cursor: pointer;
}

.map:hover .play {
    opacity: 1;
}

#nextPageButton {
    display: flex;
    justify-content: center;
}

#loadingNextPage{
    display: flex;
    padding: 5px;
    justify-content: center;
}

.loadNext:hover {
    text-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.loadNext {
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.loadingNext {
    color: white;
    transition: 0.5s;
}

.loadingNext:hover {
    text-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.arrowup {
    position: fixed;
    bottom: 10px;
    cursor: pointer;
    left: 10px;
    color: white;
    opacity: 0;
}

.arrowup:hover {
    opacity: 1;
}

#footer {
    text-align: center;
    margin: 0px;
    font-size: 14px !important;
    font-weight: 200;
    opacity: 0;
    color: white;
    transition: 1s;
}

#footer a {
    color: white;
    transition: 1s;
}

#footer a:hover {
    color: white;
    text-decoration: underline;
}

a {
    cursor: pointer;
}

#more-op {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 6px !important;
    cursor: pointer;
}

h4 {
    font-size: 9px !important;
}

.more-options {
    transform: translateY(-7px);
}

.form-check {
    margin-left: 20px;
}

.form-range {
    margin-left: 20px;
}

.input-range {
    -webkit-appearance: none;
    width: 90%;
    border-radius: 20px;
  }
  .input-range:focus {
    outline: none;
    border: none;
  }
  .input-range:focus .input-range::-webkit-slider-thumb  {
    outline: none;
    border: none;
  }
  .input-range::-webkit-slider-runnable-track {
    width: 50px;
    height: 12px;
    cursor: pointer;
    background-color: #d8dfe6;
    border-radius: 6px;
  }
  .input-range::-webkit-slider-thumb {
    border: 2px solid #7d9aa7;
    background-color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  .input-range::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background-color: #d8dfe6;
    border-radius: 6px;
  }
  .input-range::-moz-range-thumb {
    border: 2px solid #7d9aa7;
    background-color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  .input-range::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-width: 12px 0;
  }
  .input-range::-ms-fill-lower {
    background: #d8dfe6;
    border: none;
    border-radius: 6px;
  }
  .input-range::-ms-fill-upper {
    background: #d8dfe6;
    border: none;
    border-radius: 6px;
  }
  .input-range::-ms-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #7d9aa7;
    cursor: pointer;
  }

  .loaders {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 888;
    display: none;
    width: 100vw;
    height: 100vh;
}

.loader {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-top: 19px;
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

/*	$Loader Quadrant
    ========================================================================== */
.loader-quart {
border-radius: 50px;
border: 6px solid rgba(0, 0, 0, 0.4);
z-index: 10;
}
.loader-quart:after {
content: "";
position: absolute;
top: -6px;
right: -6px;
bottom: -6px;
left: -6px;
border-radius: 50px;
border: 6px solid transparent;
border-top-color: white;
-webkit-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
}
}

h5 {
    color: white !important;
    position: fixed;
    font-size: 14px !important;
    font-weight: 200;
    bottom: 0;
}

#restore-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 19;
    display: flex;
    color: white;
    width: 100vw;
}

#restore-overlay h1 {
    position: fixed;
    color: rgba(0, 0, 0, 0.6);
    bottom: 10px;
    z-index: 11;
}

.restorebg {
    width: 70vw;
    height: 5vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    position: fixed;
    transition: 0.5s ease;
    bottom: -10vw;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#restore {
    width: 0vw;
    height: 5vh;
    max-width: 70vw;
    display: flex;
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 28px;
    background: #28A745;
    border-radius: 50px;
    position: fixed;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    bottom: -10vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#volume-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 20;
    display: flex;
    color: white;
    width: 100vw;
}

#volume-overlay h1 {
    position: fixed;
    color: rgba(0, 0, 0, 0.6);
    bottom: 10px;
    z-index: 9999;
}

.volumebg {
    width: 70vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    position: fixed;
    transition: 0.5s ease;
    bottom: -10vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#volume {
    width: 70vw;
    height: 10vh;
    display: flex;
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    position: fixed;
    bottom: -10vw;
}



.label-click {
    cursor: pointer;
}

.fa-heart {
    transition: 0.5s ease;
}


#settings-back {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;   
}

#settings-window {
    width: 75vw;
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    display: flex;
    opacity: 0;
    transform: scale(1.1);
    border-radius: 20px;
    background: #323232;
    z-index: 999;   
    transition: 0.5s ease;
}

#setting-options {
    width: 25%;
    padding: 10px;
    height: 75vh;
    border-radius: 20px;
    color: white;
    background: #1e1e1e;
}

.background-options {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: -1;
    opacity: 0.03;
    background: url("background.png");
}

#setting-options h6 {
    text-align: center;
    font-size: 24px;
    margin: 10px;
    color: #969696;
    font-weight: 700;
}

.settings-close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    color: white;
    transition: 0.3s ease;
}

.settings-close:hover {
    color: rgb(209, 0, 108);
}

.option {
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    margin: 5px auto;
    transition: 0.3s;
}

.option h1 {
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin: 0px;
    text-align: left;
    transition: 0.3s ease;
}

.option-selected {
    background-color: rgb(209, 0, 108);
}

.option:hover {
    background-color: rgb(209, 0, 108);
}

#settings-main {
    color: white;
    padding: 50px 30px;
}

#settings-main h1 {
    color: white;
    font-size: 0.9em;
    text-align: left;
    font-weight: 700;
    margin: 0px;
}

#my-account-info-wrapper {
    background-color: #282828;
    border: 1px solid #1e1e1e;
    font-size: 0px;
    border-radius: 20px;
    margin-top: 10px;
    overflow: auto;
    width: 500px;
}

#my-account-info-wrapper #my-account-info {
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
}

#my-account-info-wrapper #my-account-info #profile-pic {
    background-color: #1e1e1e;
    border-radius: 100px;
    display: inline-block;
    font-size: medium;
    height: 70px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 70px;
}

#my-account-info-wrapper #my-account-info #account-fields {
    display: inline-block;
    font-size: medium;
    margin-left: 10px;
    vertical-align: top;
    width: calc(100% - 90px);
}

#my-account-info #account-fields .account-field .label {
    color: gainsboro;
    font-size: 0.7em;
    margin: 0px;
}

#my-account-info #account-fields .account-field:first-child {
    margin-top: 0px;
}

#my-account-info #account-fields .account-field input {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 2px;
    color: gainsboro;
    margin-top: 5px;
    padding: 10px;
    outline: none;
    width: calc(100% - 24px);
}

#my-account-info #account-fields .account-field {
    margin-top: 20px;
}

#profile-pic {
    background-size: cover !important;
}

.checkbox-custom {
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0 0 4px white;
    opacity: 0.8;
    transition: .2s ease-in-out;
}

.checkbox-label {
    display: inline-block;
    margin-bottom: 5px;
    transform: translateY(-5px);
}

.cb-circle {
    position: relative;
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    opacity: 1;
    background: white;
    box-shadow: 0 0 1px black;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.cb-on {
    left: 22px;
}

#centerjust {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.warning-modal {
    padding: 10px 30px;
    position: fixed;
    width: 65%;
    left: 20%;
    top: -50%;

    background-color: black;
    opacity: 0;
    transform: scale(1.3);
    border-radius: 8px;
    text-align: center;
    font-size: 15pt;
    transition: 1s ease-in-out;
}

.shown-modal {
    top: 20%;
    opacity: 0.9;
    transform: scale(1);
}