body {
    background: #222;
    color: white;
    overflow-x: hidden;
}

.bg {
    z-index: -99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("../background.png");
    background-repeat: repeat;
    opacity: 0.03;
}

.header {
    position: fixed;
    background: #111;
    height: 25px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    opacity: 0.98;
}

.header-drag {
    position: absolute;
    left: 0;
    height: 25px;
    width: calc(100vw - 100px);
    -webkit-app-region: drag;
}

.header-name {
    position: absolute;
    left: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.header-buttons {
    position: absolute;
    right: 0;
    height: 25px;
}

.header-button {
    width: 50px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in-out;
    z-index: 2;
    color: white;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

.minimize:hover {
    background: #555;
    color: white;
}

.cclose:hover {
    background: #d00;
    color: white;
}

.toast-container {
    z-index: 98;
}

.toast {
    color: black;
}

.queue {
    position: fixed;
    height: 80vh;
    top: 10vh;
    width: 300px;
    left: -270px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    transition: .5s ease-in-out;
    z-index: 10;
}

.queue:hover {
    left: -10px;
}

.queue-dl {
    position: relative;
    display: block;
    width: 250px;
    margin-left: 10px;
}

.queue-title {
    width: 200px;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.queue-progress {
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: #fff4;
}

.queue-progress-inner {
    height: 10px;
    border-radius: 5px;
    background: #0c0;
    transition: .3s ease-in-out;
}

.queue-percentage {
    position: absolute;
    right: 10px;
    top: 5px;
}

.container {
    margin-top: 25px;
}

input[type=text],
input[type=password],
select {
    background: #222 !important;
    color: white !important;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus {
    background: #222;
    border: 1px white solid !important;
    box-shadow: 0 0 5px white !important;
    color: white;
}

.search-panel {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.search-panel>* {
    margin: 0 10px;
}

.search-entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* Scroll bar */

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .6);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fff6;
}