.mapset-window {
    position: fixed;
    width: 90vw;
    left: 5vw;
    right: 5vw;
    min-height: 100vh;
    background: darkgray;
    transition: 1s ease-in-out;
    z-index: 99;
}

.window-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: -2px 2px 6px black;
    cursor: pointer;
    z-index: 100;
}

.window-header {
    position: relative;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.window-title {
    position: absolute;
    bottom: 50px;
    left: 12px;
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -5px 5px 15px black;
}

.window-artist {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    text-shadow: -3px 3px 12px black;
}

.window-creator {
    position: absolute;
    bottom: 110px;
    left: 25px;
}

.window-creator-avatar {
    width: 100px;
    border-radius: 10px;
}

.window-creator-name {
    position: absolute;
    top: 0;
    left: 110px;
    width: 300px;
}

.window-diffs {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 40px;
}

.window-diff {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 7px;
    border-radius: 50%;
    font-family: FontAwesomeExtra;
    color: white;
    font-size: 50px;
    text-align: justify;
    padding: 0;
    user-select: none;
    cursor: pointer;
    box-shadow: -4px 4px 8px black;
    transition: opacity .5s ease-in-out;
    opacity: 0.55;
}

.window-diff.active-diff {
    opacity: 1;
}

.window-difficulty {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0005;
}

.list-unstyled>li>* {
    display: inline-block;
    margin: 0 5px;
}

.d-progress {
    position: relative;
    width: 80px;
    height: 10px;
    background: #fff8;
}

.d-progress-in {
    position: absolute;
    height: 100%;
    left: 0;
    background: #fd0;
    transition: width .8s ease-in-out;
}

.window-body {
    max-height: 60vh;
    overflow: auto;
}

.ranking-top {
    display: -webkit-box;
    left: 5vw;
    position: relative;
    width: 80vw;
    height: 200px;
    background: #f5f5f5;
    color: #222;
    border-radius: 15px;
    margin: 20px 0;
}

.place {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 22pt;
    font-weight: 500;
    font-style: oblique;
    width: 160px;
    text-align: center;
}

.player {
    position: absolute;
    left: 180px;
    top: 25px;
}

img.avatar {
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0007;
}

.player .info {
    position: absolute;
    top: 0;
    left: 160px;
    width: 250px;
}

.info .nickname {
    position: absolute;
    top: 20px;
    font-size: 20pt;
    font-weight: 600;
}

img.country {
    position: absolute;
    top: 70px;
    left: 10px;
    box-shadow: 0 0 15px black;
    border-radius: 8px;
}

.score-top {
    position: absolute;
    top: 20px;
    right: 50px;
}

.score-top .stat {
    display: inline-block;
    margin: 0 25px;
    font-size: 18pt;
}

/* .stat>* {
    margin: 1px 0;
} */

.stat .header {
    font-size: 14pt;
    font-weight: 400;
    font-style: oblique;
    color: #555;
    pointer-events: none;
}

/* .stat .header:before {
    content: '';
    position: absolute;
    bottom: 2px;
    height: 2px;
    width: 100%;
    background: #444;
} 
*/
/* .stat .value:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #444;
} 
*/

.stat .divider {
    width: 100%;
    height: 2px;
    background: #444;
}

.score-bottom {
    position: absolute;
    top: 100px;
    right: 50px;
}

.score-bottom .stat {
    display: inline-flex;
    margin: 0 14px;
    font-size: 17pt;
    flex-direction: column;
}